/* Utility */
// Gap Classes
$gap-values: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);

@each $key, $value in $gap-values {
    .gap-#{$key} {
        gap: $value;
    }
}

// Margin and Padding Classes
$spacing-values: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);

@each $key, $value in $spacing-values {
    .m-#{$key} {
        margin: $value;
    }

    .mt-#{$key} {
        margin-top: $value;
    }

    .mb-#{$key} {
        margin-bottom: $value;
    }

    .ml-#{$key} {
        margin-left: $value;
    }

    .mr-#{$key} {
        margin-right: $value;
    }

    .p-#{$key} {
        padding: $value;
    }

    .pt-#{$key} {
        padding-top: $value;
    }

    .pb-#{$key} {
        padding-bottom: $value;
    }

    .pl-#{$key} {
        padding-left: $value;
    }

    .pr-#{$key} {
        padding-right: $value;
    }
}