/* Grid / Utility */
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
$breakpoint-xlarge: 75em; // 1200px
$columns: 12;

/* Typography */
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
