@use "sass:math";

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col-"] {
  float: left;
  margin: 0.5rem math.div($gutter, 2);
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: $breakpoint-med) {
  @for $i from 1 through $columns {

    .col-#{$i},
    .col-#{$i}-md {
      width: calc($width / $columns * $i - $gutter);
    }
  }
}

@media only screen and (min-width: $breakpoint-large) {
  @for $i from 1 through $columns {
    .col-#{$i}-lg {
      width: calc($width / $columns * $i - $gutter);
    }
  }
}